@import "bootstrap/bootstrap.scss";

@import "elements/_variables";
@import "elements/_button";
@import "elements/_icon";
@import "elements/_form";
@import "elements/_login-form";
@import "elements/_sidebar";
@import "elements/_grid";
@import "elements/_userCard";
@import "elements/_loader";
@import "elements/_navbar";
@import "elements/_mediaPrint";
@import "elements/_select";
@import "elements/_squadCard";
@import "elements/_teamCard";

body {
  //background: url('../images/bg-ironman.jpg');
  background-color: $dark;
  color: $white;
}

a {
  color: $eggBlue;
}

h1 {
  border-bottom: 1px solid $borderElt;
  padding: 15px 0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

//TEMP
.main-panel {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.main-content {
  background-color: $dark;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                                   supported by Chrome and Opera */
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul {
  padding: 0;
}

h6 {
  //border-left: 10px solid $cityLights;
  border-bottom: 1px solid $cityLights;
  padding: 10px 0;
}

.loader {
  width: 200px;
  text-align: center;

  .img-loader {
	//animation: rotation 0.5s linear infinite;
	transform-origin: center center;
    width: 100%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
