.btn {
  transition: all 300ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-outline-dark {
  color: $white;
  border-color: $white;
}

.btn-primary {
  background-color: $eyeNewt;
  border: 1px solid $eyeNewt;
  &:hover {
    background-color: $eyeNewt;
    border: 1px solid $eyeNewt;
  }
}
