.our-team {
  padding: 30px 0 40px;
  background-color: $cardColor;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: all 2s;
  border: 1px solid $dark;
  cursor: pointer;

  &:hover {
    background-color: $lynxWhite;

    .name, .title-squad  {
      color: $dark;
    }

    .picture::before {
      height: 100%;
    }

    .picture img {
      box-shadow: 0 0 0 14px $cardColor;
      transform: scale(0.7);
    }

    .tools {
      bottom: 0;
    }
  }

  .skills {
    transition: bottom 1s ease;
    position: absolute;
    z-index: 10;
    height: 100%;
    bottom: -360px;
    background: rgba(66, 66, 66, 0.5);
    width: 100%;

    &.expanded {
      bottom: 0;
    }
  }

  .team-content {
    margin-bottom: 40px;
  }

  h3.name {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    overflow: hidden;
  }

  .title,
  .title-squad {
    display: block;
    font-size: 15px;
    color: $cardColorHover;
    text-transform: capitalize;
  }

  .title-squad {
    color: $white;
  }

  .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      transform: scale(1);
      transition: all 0.9s ease 0s;
    }
  }

  .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: $cardColorHover;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }

  .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $cardColorHover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .tools {
    width: 100%;
    padding: 8px 0;
    margin: 0;
    background-color: $cardColorHover;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }

      a {
        display: block;
        padding: 10px;
        font-size: 17px;
        color: white;
        transition: all 0.3s ease 0s;
        text-decoration: none;

        &:hover {
          color: #1369ce;
          background-color: #f7f5ec;
        }
      }
    }
  }
}

.skills {

  padding: 20px 40px;

  .bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;

    img {
      width: 90%;
      opacity: 1;
    }

  }

  .character-stats {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: height 1s ease;

    li {
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      float: left;
      transition: all 0.5s ease-in-out;

      p {
        margin-bottom: 1px;
        font-size: 0.7em;
        text-transform: uppercase;
        text-align: left;
      }

      .statbar {
        display: flex;
        justify-content: space-between;
        margin: 0 0 10px 0;
        padding: 0;

        li {
          width: 18%;
          height: 6px;
          background:$white;

          &.active {
            background:$eggBlue;
          }
        }
      }
    }
  }
}
