//Colors
$mainColor: #d63031;
$mainColorOpacity:rgba(214, 48, 49,0.8);
$dark: #1e272e;
$white:#FFF;
$cityLights: #dfe6e9;
$chiGong:#d63031;
$eyeNewt:#b33939;
$draculaOrchid:#2d3436;
$prestigeBlue:#2f3542;
$americanRiver:#636e72;
$midnightBlue:#2c3e50;
$wetAsphalt:#34495e;
$lightBeam:#00fffc;
$borderMenu:#000;
$eggBlue: #00cec9;
$lynxWhite:#f5f6fa;

$borderElt: $eyeNewt;
$gridHeader: $eyeNewt;
$editColor: $eggBlue;
$cardColor:$draculaOrchid;
$cardColorHover: $eyeNewt;

$gantt-nb-colums: 48;