//Colors
$mainColor: #d63031;
$mainColorOpacity:rgba(214, 48, 49,0.8);
$dark: #2d3436;
$white:#FFF;
$americanRiver:#636e72;
$midnightBlue:#2c3e50;
$wetAsphalt:#34495e;
$lightBeam:#00fffc;
$borderMenu:#000;